<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue@3</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full grid place-items-center">
    <div id="app">
        <section v-show="inProgressAssignmnet.length">
            <h2 class="font-bold mb-2">In Progress</h2>
            <ul>
                <li v-for="assignment in inProgressAssignmnet" :key="assignment.id">
                    <label>
                        {{assignment.name}}
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
        </section>
        <section class="mt-4" v-show="completeAssignment.length">
            <h2 class="font-bold mb-2">Complted</h2>
            <ul>
                <li v-for="assignment in completeAssignment" :key="assignment.id">
                    <label>
                        {{assignment.name}}
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
        </section>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    assginments: [
                        {
                            id: 1,
                            name: "Finsh project",
                            complete: false
                        },
                        {
                            id: 2,
                            name: "Read chapter 4",
                            complete: false
                        },
                        {
                            id: 3,
                            name: "Turn in homework",
                            complete: false
                        }
                    ]
                }
            },
            methods: {
                toggle() {
                    this.active = !this.active
                }
            },
            computed: {
                completeAssignment() {
                    return this.assginments.filter(assignment => assignment.complete);
                },
                inProgressAssignmnet(){
                    return this.assginments.filter(assignment=> ! assignment.complete)
                }
            }
        }).mount("#app")
    </script>
</body>

</html>